<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="form-wrapper">
    <div class="form-card">
        <h2>Create Account</h2>

        <form th:action="@{/save-user}" th:object="${user}" method="post">
            <input type="text" th:field="*{name}" placeholder="Full Name" required>
            <input type="email" th:field="*{email}" placeholder="Email" required>
            <input type="password" th:field="*{password}" placeholder="Password" required>
            <button type="submit">Register</button>
        </form>

        <p class="form-footer">
            Already have account? <a href="/login">Login</a>
        </p>
    </div>
</div>

</body>
</html>